@charset "utf-8";

$yellow: #ffdd57;
$telegram: #209cee;
$whatsapp: #23d160;
$dicord: #8b00ff;

body {
  font-family: 'Roboto', sans-serif;
}

.bbb {
  border: 1px solid #ccc;
}

l {
  color: $yellow;
}

T {
  color: $telegram;
}

W {
  color: $whatsapp;
}

D {
  color: $dicord;
}

$link: $yellow;
$input-focus-border-color: $yellow;
$input-focus-box-shadow-color: rgba($yellow, 0.4);

.help {
  color: rgb(95, 85, 85);
}