@charset "utf-8";

$yellow: #ffdd57;

body {
  // font-family: 'Roboto', sans-serif;
  // font-family: 'Rubik Mono One', sans-serif;
}

.bbb {
  border: 1px solid #ccc;
}

l {
  color: $yellow;
}

$link: $yellow;
$input-focus-border-color: $yellow;
$input-focus-box-shadow-color: rgba($yellow, 0.4);

.help {
  color: #aaa;
}